@font-face {
    font-family: Rubik;
    src: url(assets/Rubik-Regular.ttf);
}

body {
    font-family: Rubik;
}

/* App */
.containercustom {
    background-color: #FFFFFF;
    width: 375px;
    height: 600px;
}

/* All Cart */
.textallcart {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #292929;

}

.cardallcartdata {
    width: 343px;
    height: 161px;
    background: #FAFAFA;
    border-radius: 16px;
}

.btnallcard {

    background: #31B057;
    border-radius: 100px;
    border: 1px solid #31B057;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}

.gariscartdata {
    width: 311px;
    height: 2px;
    background-color: #EBEBEB;
}

.totalproduk {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #7A7A7A;

}

.totalharga {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #292929;
}

.cartid {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #7A7A7A;
}

.containerinfocart {
    width: 70%;
}

.containerdeletecartbtn {
    width: 30%
}

/*Load Add Cart */
.loadaddcart {
    width: 104px;
    height: 246px;
    border-radius: 15px;
    background: #ddd;
    position: relative;
    overflow: hidden;

}

/*Load All cart */
.loadallcart {
    width: 343px;
    height: 161px;
    background: #ddd;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

/*Load Single Cart */
.loadsinglecart {
    width: 343px;
    height: 80px;
    background: #ddd;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

/* Animation Shimmer */
.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2s infinite;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }

    50% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(150%);
    }
}


/*Single cart*/
.titlesinglecart {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #292929;
}

.tambahpesanansinglecart a {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #049C0E;
    cursor: pointer;
    text-decoration: none;
}

.tambahpesanansinglecart a:hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #049C0E;
    cursor: pointer;
    text-decoration: none;
}


.garisbesar {
    height: 4px;
    background-color: #EBEBEB;
}

.gariskecil {
    width: 343px;
    height: 2px;
    background-color: #EBEBEB;
}

.produkname {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.produkharga {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
}

.produknumber {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
}

.containerproduk {
    border-bottom: 2px dashed #EBEBEB;
    padding-bottom: 20px;
}

.totalharga {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.nilaiharga {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;

}

.tambahkancatatan {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
}

.containercatatan {
    width: 343px;
    height: 53px;
    background-color: #FAFAFA;
    border-radius: 16px;
}

.inputcatatan {
    background-color: #FAFAFA;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7A7A7A;
}

.buttonpesanan {
    width: 343px;
    height: 48px;
    background-color: #03AC0E;
    border: 1px solid #03AC0E;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

/* Add Cart  */
.containerpencarian {
    width: 375px;
    height: 57px;
}

.containertextfield {
    width: 290px;
    height: 41px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 100px;
}

.containeraddproduk {
    width: 104px;
    height: 246px;
    border-radius: 15px;


}

.imgaddproduct {
    width: 104px;
    height: 104px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}

.titleaddproduk {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #292929;
}

.priceaddproduk {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.buttonaddcart {
    width: 104px;
    height: 37px;
    background-color: #FAFAFA;
    border: 1px solid #03AC0E;
    border-radius: 100px;
    color: #03AC0E;

}

/* Delete Cart */
.titledelete {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.textdelete {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7A7A7A;
}

.btnconfrimdelcart {
    padding: 16px 32px;
    width: 142px;
    height: 53px;
    background: #03AC0E;
    border-radius: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;

}

.text-green {
    color: #03AC0E;
}

/* Cursor Pointer */
.cursorpointer {
    cursor: pointer;
}

/* Bottom Nav */
.bottomnav {
    position: fixed;
    bottom: 0px;
    height: 56px;
    width: 375px;
    background-color: #FFFFFF;
    box-shadow: 0px -1px 0px #EBEBEB;
}

.extranav {
    height: 56px;
}



@media only screen and (orientation: portrait) {}